package $!{packagePath}.dao;

import $!{packagePath}.domain.$!{tableClassNameFirstCap};
import $!{packagePath}.dao.$!{tableClassNameFirstCap}Dao;

//功能实现类
#if(${extendsClassList})
    #foreach(${extendsClass} in ${extendsClassList})
    import ${extendsClass.packagePath}.${extendsClass.className};
    #end
#end

import java.util.List;


/**
* $!{tableAnnontation}Dao层接口类
* User: $!{authorName}
* DateTime: $!{projMakeTime}
**/
public interface $!{tableClassNameFirstCap}Dao {
    /**
    * 添加$!{tableAnnontation}信息
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    */
    public void insert($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 通过主键修改$!{tableAnnontation}
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    */
    public void updateByID($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 根据主键删除$!{tableAnnontation}
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    */
    public void deleteByID($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 根据主键批量删除$!{tableAnnontation}
    * @param $!{tableClassName}List $!{tableAnnontation}Domain集合
    */
    public void deleteBatchByIDList(List<$!{tableClassNameFirstCap}> $!{tableClassName}List) throws Exception;

    /**
    * 查询$!{tableAnnontation}列表
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    * @return $!{tableAnnontation}列表
    */
    public List<$!{tableClassNameFirstCap}> select( $!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 查询$!{tableAnnontation}列表
    * @param query $!{tableAnnontation}Domain
    * @return $!{tableAnnontation}列表个数
    */
    public int selectCount($!{tableClassNameFirstCap} query) throws Exception;
}