package $!{packagePath}.domain;

import java.util.Date;
import java.math.BigDecimal;
import java.io.Serializable;

/**
 * $!{tableAnnontation}Domain
 * User: $!{authorName}
 * Date: $!{projMakeTime}
 **/
public class $!{tableClassNameFirstCap} implements Serializable {

    private static final long serialVersionUID = -$!{radomMathInt}L;

    /**
     * 主键 $!{pkColumn.columnAnnotation}
     */
    private $!{pkColumn.columnClassDataType} $!{pkColumn.columnClassName};

    /**
    * 逻辑删除标识 $!{deleteFlagColumn.columnAnnotation}
    */
    private $!{deleteFlagColumn.columnClassDataType} $!{deleteFlagColumn.columnClassName};

#foreach(${basicColumn} in ${basicColumnList})
    /**
    * $!{basicColumn.columnAnnotation}
    */
    private $!{basicColumn.columnClassDataType} $!{basicColumn.columnClassName};
#end


    public $!{pkColumn.columnClassDataType} get$!{pkColumn.columnClassNameFirstCap}() {
        return $!{pkColumn.columnClassName};
    }

    public void set$!{pkColumn.columnClassNameFirstCap}($!{pkColumn.columnClassDataType} $!{pkColumn.columnClassName}) {
        this.$!{pkColumn.columnClassName} = $!{pkColumn.columnClassName};
    }

    public $!{deleteFlagColumn.columnClassDataType} get$!{deleteFlagColumn.columnClassNameFirstCap}() {
        return $!{deleteFlagColumn.columnClassName};
    }

    public void set$!{deleteFlagColumn.columnClassNameFirstCap}($!{deleteFlagColumn.columnClassDataType} $!{deleteFlagColumn.columnClassName}) {
        this.$!{deleteFlagColumn.columnClassName} = $!{deleteFlagColumn.columnClassName};
    }

#foreach(${basicColumn} in ${basicColumnList})
    public $!{basicColumn.columnClassDataType} get$!{basicColumn.columnClassNameFirstCap}() {
        return $!{basicColumn.columnClassName};
    }

    public void set$!{basicColumn.columnClassNameFirstCap}($!{basicColumn.columnClassDataType} $!{basicColumn.columnClassName}) {
        this.$!{basicColumn.columnClassName} = $!{basicColumn.columnClassName};
    }
#end
}
