package $!{packagePath}.service;

import com.auto.common.Page;

import $!{packagePath}.domain.$!{tableClassNameFirstCap};

//功能实现类
#if(${extendsClassList})
    #foreach(${extendsClass} in ${extendsClassList})
    import ${extendsClass.packagePath}.${extendsClass.className};
    #end
#end

import java.util.List;

/**
* $!{tableAnnontation}Service层接口类
* User: $!{authorName}
* DateTime: $!{projMakeTime}
**/
public interface $!{tableClassNameFirstCap}Service {

    /**
    * 新增$!{tableAnnontation}
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    */
    public void insert($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 修改$!{tableAnnontation}
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    */
    public void updateByID($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 根据主键删除$!{tableAnnontation}
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    */
    public void deleteByID($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 根据主键批量删除$!{tableAnnontation}
    * @param $!{tableClassName}List $!{tableAnnontation}Domain集合
    */
    public void deleteBatchByIDList(List<$!{tableClassNameFirstCap}> $!{tableClassName}List) throws Exception;

    /**
    * 查询$!{tableAnnontation}列表
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    * @return $!{tableAnnontation}列表
    */
    public List<$!{tableClassNameFirstCap}> select( $!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

    /**
    * 分页查询$!{tableAnnontation}列表
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    * @return $!{tableAnnontation}列表
    */
    public Page<$!{tableClassNameFirstCap}> find$!{tableClassNameFirstCap}Page( $!{tableClassNameFirstCap} $!{tableClassName}) throws Exception;

}
