package $!{packagePath}.service.impl;

import com.auto.common.Page;

import $!{packagePath}.domain.$!{tableClassNameFirstCap};
import $!{packagePath}.service.$!{tableClassNameFirstCap}Service;
import $!{packagePath}.dao.$!{tableClassNameFirstCap}Dao;

//功能实现类
#if(${extendsClassList})
    #foreach(${extendsClass} in ${extendsClassList})
import ${extendsClass.packagePath}.${extendsClass.className};
    #end
#end
import org.springframework.stereotype.Service;

import org.springframework.beans.factory.annotation.Autowired;
import java.util.List;

/**
 * $!{tableAnnontation}Service层实现类
 * User: $!{authorName}
 * DateTime: $!{projMakeTime}
 **/
@Service
public class $!{tableClassNameFirstCap}ServiceImpl implements $!{tableClassNameFirstCap}Service {

    @Autowired
    private $!{tableClassNameFirstCap}Dao $!{tableClassName}Dao;

    /**
     * 新增$!{tableAnnontation}
     * @param $!{tableClassName} $!{tableAnnontation}Domain
     */
    @Override
    public void insert($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception{
        $!{tableClassName}Dao.insert($!{tableClassName});
    }

    /**
     * 修改$!{tableAnnontation}
     * @param $!{tableClassName} $!{tableAnnontation}Domain
     */
    @Override
    public void updateByID($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception{
        $!{tableClassName}Dao.updateByID($!{tableClassName});
    }

    /**
     * 根据主键删除$!{tableAnnontation}
     * @param $!{tableClassName} $!{tableAnnontation}Domain
     */
    @Override
    public void deleteByID($!{tableClassNameFirstCap} $!{tableClassName}) throws Exception{
        $!{tableClassName}Dao.deleteByID($!{tableClassName});
    }

    /**
     * 根据主键批量删除$!{tableAnnontation}
     * @param $!{tableClassName}List $!{tableAnnontation}Domain集合
     */
    @Override
    public void deleteBatchByIDList(List<$!{tableClassNameFirstCap}> $!{tableClassName}List) throws Exception{
        $!{tableClassName}Dao.deleteBatchByIDList($!{tableClassName}List);
    }

    /**
     * 查询$!{tableAnnontation}列表
     * @param $!{tableClassName} $!{tableAnnontation}Domain
     * @return $!{tableAnnontation}列表
     */
    @Override
    public List<$!{tableClassNameFirstCap}> select( $!{tableClassNameFirstCap} $!{tableClassName}) throws Exception{
        return $!{tableClassName}Dao.select($!{tableClassName});
    }

    /**
    * 分页查询$!{tableAnnontation}列表
    * @param $!{tableClassName} $!{tableAnnontation}Domain
    * @return $!{tableAnnontation}列表
    */
    @Override
    public Page<$!{tableClassNameFirstCap}> find$!{tableClassNameFirstCap}Page($!{tableClassNameFirstCap} query) throws Exception{
        Page<$!{tableClassNameFirstCap}> $!{tableClassName}Page = new Page<$!{tableClassNameFirstCap}>();
        int count = $!{tableClassName}Dao.selectCount(query);
        if(count>0){
            $!{tableClassName}Page.setTotalRow(count);
            $!{tableClassName}Page.refresh();
            $!{tableClassName}Page.setResult($!{tableClassName}Dao.select(query));
            return $!{tableClassName}Page;
        }else {
            return null;
        }
    }
}
